<%- include('partial/header.ejs') %>

    <div class="formb">
    <form action="/cont">
        <h1>Contact/Message</h1>
        <input type="text" placeholder="Name" name="name">
        <input type="email" placeholder="Email" name="email">
        <textarea name="para" id="" cols="30" rows="10" placeholder="Message *"></textarea>
    </form>
    </div>


<%- include('partial/footer.ejs') %>